/* Place your CSS styles in this file */

/* Estils per a la pàgina index */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
   /* padding: 10px;*/
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-x: hidden; /* Evita desplaçaments laterals inesperats */
    /*overflow-y: hidden;*/
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 1rem;
}

.navbar-title {
    font-weight: 400;
}

.small-text {
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-row .form-group {
    width: 48%;
}

input[type="text"], input[type="number"], input[type="time"] {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

/* Resultats encapsulats */
.result-box {
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    /* border-radius: 8px;*/
   /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    background-color: #f2f2f2; /* #f9f9f9*/
    margin-left: auto;
    margin-right: auto;
}

.station-header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    width: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.train-schedule {
    width: 100%;
    /*padding: 10px;*/
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.train {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0a0000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /*margin-left: auto;
    margin-right: auto;*/
}

.train .line-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.line-icon.l8 { background-color: #e83e8c; }
.line-icon.s8 { background-color: #17a2b8; }
.line-icon.s4 { background-color: #926a39; }
.line-icon.s3 { background-color: #33a0a2; }
.line-icon.s1 { background-color: #f60; }
.line-icon.s2 { background-color: #70bc1f; }
.line-icon.r5 { background-color: #117a8b; }
.line-icon.r6 { background-color: #ababab; }
.line-icon.l7 { background-color: #a81900; }
.line-icon.l12 { background-color: #5b4e8d; }
.line-icon.l6 { background-color: #6f7bba; }

.train .destination {
    flex: 1;
    margin-left: 30px;
    font-size: 1em;
    color: #fcfcfc;
}

.train .time {
    font-size: 1.1em;
    color: #f2e829;
}

footer {
    /*margin-top: 30px;*/
    background-color: #0a0000;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 0.65em;
    letter-spacing: 2px;
    width: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.contact-btn {
    padding: 8px 16px; 
    background: linear-gradient(135deg, #09db14 0%, #037529 100%); 
    color: white; 
    text-decoration: none; 
    border-radius: 20px; 
    font-weight: 400; 
    transition: transform 0.2s, box-shadow 0.2s; 
    box-shadow: 0 2px 8px rgba(102, 126, 234, 0.3);
}

.contact-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(102, 126, 234, 0.5);
}